<h1>Todo tasks ({{todoCount}})</h1>

  <ul>
      <li *ngFor="let task of tasks">
          <a href="javascript:void(0)" (click)=select(task) >
              {{task.name}}
              <span>
                  <span [hidden]="task.done=='false'">[Done]</span>
                  <span [hidden]="task.done=='true'">[Todo]</span>
              </span>
          </a>
      </li>
  </ul>

<task *ngIf="selectedTask" [task]="selectedTask" (statusChanged)="calculateTodoCount()"></task>

<div class="" *ngIf="selectedTask">

</div>
